<!--ここからぱんくず-->
<div class="bg-ash">
  <div class="container">
    <ul class="bread-crumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/top"><span itemprop="name">MARKS 山 TOP</span></a>
          <meta itemprop="position" content="1">&gt;
      </li>
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/about"><span itemprop="name">MARKSについて</span></a>
          <meta itemprop="position" content="2">
      </li>
    </ul>
  </div>
</div>
<!--ぱんくずここまで-->

<main class="about">
  <div class="container box-about">
  <h1>MARKSについて</h1>
  <p>
    MARKS(マークス)は山登りや自然を愛するハイカーのためのWEBサービスです。<br />
    <br />
    山の標高、エリア、説明などの詳しい情報や、<br />
    みなさんからの山行ログの投稿で作られています。<br />
    <br />
    1人でも多くのハイカーが、<br />
    自由に、楽しく、安全に、<br />
    山登りを楽しめる世の中を目指しています。<br />
    <br />
    ぜひ、みなさんからの投稿をお待ちしています。<br />
    <br />
    <br />
    MARKS 運営チーム
  </p>
  </div>

</main>


