<!--ここからぱんくず-->
<div class="bg-ash">
  <div class="container">
    <ul class="bread-crumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/top"><span itemprop="name">MARKS 山 TOP</span></a>
          <meta itemprop="position" content="1">&gt;
      </li>
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/guideline %>"><span itemprop="name">ガイドライン</span></a>
          <meta itemprop="position" content="2">
      </li>
    </ul>
  </div>
</div>
<!--ぱんくずここまで-->

<main>
  <div class="container guideline">
    <h1>利用ガイドライン</h1>
      <h2>はじめに</h2>
        <p>MARKS(マークス)は、山登りの初心者も上級者も、山登り=Hike(ハイク)がもっと楽しくなる世の中を目指しています。</p>
      <h2>山行ログの投稿について</h2>
        <p>・山行ログは、他のHiker(ハイカー)の参考になるような内容が望ましいです。「その山に登りたいけど危険ではないか心配な初心者ハイカー」や、「事前に登山道の様子を知っておきたい中級者ハイカー」など、どんな方にとってもわかりやすい言葉遣いや表現の投稿は、多くのハイカーにとって有益な情報源になります。</p>
        <p>・本人に利用許可を取っていない個人情報や写真などは、投稿しないようお願いします。</p>
        <p>・周辺の山小屋や交通機関、施設の感想もお待ちしています。しかし一方的なクレームと捉えられるような内容はお控えください。</p>
        <p>・上記の内容に当てはまると思われる投稿についてのみ、事前の予告なく、非公開とさせていただくことがあります。</p>
      <h2>その他</h2>
        <p>・ご不明な点、ご要望などありましたら、ぜひお気軽にお問い合わせください。<br />　<a href="mailto:xxbxxxqxx@gmail.com">問い合わせ：xxbxxxqxx@gmail.com</a></p>

  </div>

</main>


