<!--ここからぱんくず-->
<div class="bg-ash">
  <div class="container">
    <ul class="bread-crumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/top"><span itemprop="name">MARKS 山 TOP</span></a>
          <meta itemprop="position" content="1">&gt;
      </li>
      <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/policy %>"><span itemprop="name">プライバシーポリシー</span></a>
          <meta itemprop="position" content="2">
      </li>
    </ul>
  </div>
</div>
<!--ぱんくずここまで-->

<main>
  <div class="container">
    <h1>プライバシーポリシー</h1>
    <p>aaa</p>
  </div>

</main>


