// 変数一括管理します。
// scssは_がファイル名先頭につくとよみこまれないらしいが、importで呼び出しは可能らしい

// color変数

$blu: #3498db; //青：
$blu-dk: #2889CA;
$gre: #2cac6b; //緑：マイページ
$gre-dk: #149855; //緑：マイページ
$red: #EC7272; //赤：ログインボタン
$red-dk: #D35656; //赤：ログインボタン
$yel: #f1c40f; //黄：ボタン背景、ロゴ、レーティングなど
$yel-dk: #D2A803; //$yelに影つけるときに使用
$org: #E48837; //オレンジ。ロゴ、レーティングなど
$org-dk: #e67e22; //オレンジ。ロゴ、レーティングなど


//ダーク系
$blk: #333; //基本文字色

$wht: #f5f5f5; //最弱。
$ash: #eee; //弱。box系で、背景色をつけるとき。薄いやつ。
$gry: #d4d4d4; //中。box系のボーダー色
$drk: #999; //強。フォームに使う。
$sdw: #777; //最強。フォームに使う。

//いろいろ
$width: 56rem;



